/* styles.css */
.hover-effect {
  transition: transform 0.2s ease;
}

.hover-effect:hover {
  transform: translateY(-5px); /* Move up slightly */
}

/* footer */
.nav-item a {
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
